---
apiVersion: v1
kind: ConfigMap
metadata:
  name: git-config
  namespace: ocd
data:
  dotgitconfig: |
    [safe]
            directory = *

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: goaccess-config
  namespace: ocd
data:
  excludes: |
    GET /favicons
    GET /js/
    GET /assets/
    GET /scss/
    GET /webfonts/

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: omd-consol-de
  namespace: ocd
  labels:
    app: omd-consol-de
spec:
  replicas: 1
  selector:
    matchLabels:
      app: omd-consol-de
  template:
    metadata:
      labels:
        app: omd-consol-de
    spec:
      initContainers:
      - name: git-sync-init
        image: k8s.gcr.io/git-sync/git-sync:v4.5.0
        args:
        - "--repo=$(GIT_REPO_URL)"
        - "--ref=$(GIT_BRANCH)"
        - "--one-time"
        - "--root=/tmp/git"
        - "--link=ocd"
        # clones into /tmp/git/rev-something
        # ln -s /tmp/git/rev-something /tmp/git/ocd
        envFrom:
          - configMapRef:
              name: git-repo
        volumeMounts:
        - name: content
          mountPath: /tmp/git
        resources:
          requests:
            memory: "32Mi"
            cpu: "50m"
          limits:
            memory: "64Mi"
            cpu: "100m"
      containers:
      - name: nginx
        image: nginx:1.27
        ports:
        - containerPort: 80
        volumeMounts:
        - name: html
          mountPath: /usr/share/nginx
        - name: nginx-logs
          mountPath: /var/log/nginx
        # switches to user nginx anyway.
        securityContext:
          runAsUser: 0
          runAsGroup: 0
          allowPrivilegeEscalation: false
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "200m"
      - name: hugo
        image: ghcr.io/consol-monitoring/ocd:0.150.0-1
        args:
        - "--watch"
        - "--source"
        - "/tmp/git/ocd/"
        - "--destination"
        # /tmp/public/html because /tmp/public can be written, but after
        # writing files, hugo runs chtimes on all files including "."
        # and for "." it has no permissions.
        - "/tmp/public/html"
        - "--environment"
        - "production"
        volumeMounts:
        - name: html
          mountPath: /tmp/public
        - name: content
          mountPath: /tmp/git
        - name: git-config
          mountPath: /tmp/.gitconfig
          subPath: dotgitconfig
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "250m"
      - name: git-sync
        image: k8s.gcr.io/git-sync/git-sync:v4.5.0
        args:
        - "--repo=$(GIT_REPO_URL)"
        - "--ref=$(GIT_BRANCH)"
        - "--root=/tmp/git"
        - "--link=ocd"
        envFrom:
          - configMapRef:
              name: git-repo
        volumeMounts:
        - name: content
          mountPath: /tmp/git
        resources:
          requests:
            memory: "16Mi"
            cpu: "10m"
          limits:
            memory: "32Mi"
            cpu: "50m"
      - name: logger
        image: busybox:1.36
        args: [/bin/sh, -c, 'tail -n+1 -F /var/log/nginx/access.log']
        volumeMounts:
        - name: nginx-logs
          mountPath: /var/log/nginx
        securityContext:
          runAsUser: 0
          runAsGroup: 0
          allowPrivilegeEscalation: false
        resources:
          requests:
            memory: "8Mi"
            cpu: "5m"
          limits:
            memory: "16Mi"
            cpu: "20m"
      - name: goaccess
        command: ["/bin/sh"]
        args: ["-c", "while true; do cat /var/log/nginx/access.log | grep -v -f /tmp/excludes.txt | /bin/goaccess -o /var/log/nginx/index.html --log-format=COMBINED --persist --restore --db-path /var/tmp/goaccess-db --html-report-title omd.consol.de --tz Europe/Berlin  --hl-header --with-mouse -; sleep 60; done"]
#        command:
#        - goaccess
#        - /var/log/nginx/access.log
#        - -o
#        - /var/log/nginx/index.html
#        - --log-format=COMBINED
#        - --real-time-html
        image: allinurl/goaccess:1.9.4
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 50m
            memory: 32Mi
          limits:
            cpu: 100m
            memory: 64Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/log/nginx
          name: nginx-logs
        - mountPath: /var/tmp/goaccess-db
          name: goaccess-db
        - name: goaccess-config
          mountPath: /tmp/excludes.txt
          subPath: excludes
      - name: goaccess-web
        command:
        - python
        - -m
        - http.server
        image: python:3.12-slim
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
          name: goaccess
          protocol: TCP
        resources:
          requests:
            cpu: 50m
            memory: 32Mi
          limits:
            cpu: 100m
            memory: 64Mi
        volumeMounts:
        - mountPath: /var/log/nginx
          name: nginx-logs
        workingDir: /var/log/nginx

      volumes:
      - name: html
        emptyDir: {}
      - name: content
        emptyDir: {}
      - name: git-config
        configMap:
          name: git-config
          defaultMode: 0644
      - name: goaccess-config
        configMap:
          name: goaccess-config
          defaultMode: 0644
      - name: nginx-logs
        persistentVolumeClaim:
          claimName: nginx-logs-pvc
      - name: goaccess-db
        persistentVolumeClaim:
          claimName: goaccess-db-pvc

      restartPolicy: Always
      securityContext:
        runAsUser: 1000
        runAsGroup: 3000
        fsGroup: 2000