---
title: "ConSol Monitoring"
linkTitle: "ConSol Monitoring"
---

{{% blocks/lead color="#fff" %}}
<h1 class="my-4">Welcome to ConSol Monitoring</h1>
<p>20 years of consulting experience and open-source</p>

<div class="container my-4">
    <div class="row">
        <div class="col-md-4 d-flex mb-4">
            <div class="card flex-fill">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">OMD Labs</h4>
                    <a class="mb-3" href="docs/omd/">
                        <img src="docs/omd/omd.jpg" alt="OMD Labs Logo" height="100px">
                    </a>
                    <div class="mt-auto">
                        <a class="btn btn-lg btn-primary m-1 w-[168px]" href="docs/omd/">
                            Details <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                        </a>
                        <a class="btn btn-lg btn-secondary m-1" href="https://github.com/ConSol-Monitoring/omd/releases">
                            Github <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex mb-4">
            <div class="card flex-fill">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">SNClient</h4>
                    <a class="mb-3" href="docs/snclient/">
                        <img src="/docs/snclient/logo/snclient.svg" style="background-color: white" alt="SNClient Logo" height="100px">
                    </a>
                    <div class="mt-auto">
                        <a class="btn btn-lg btn-primary m-1" href="docs/snclient/">
                            Details <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                        </a>
                        <a class="btn btn-lg btn-secondary m-1" href="https://github.com/ConSol-Monitoring/snclient/releases">
                            Github <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex mb-4">
            <div class="card flex-fill">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Coshsh</h4>
                    <a class="mb-3" href="docs/coshsh/">
                        <img src="/docs/coshsh/coshsh_logo.png" style="background-color: white" alt="Coshsh Logo" height="100px">
                    </a>
                    <div class="mt-auto">
                        <a class="btn btn-lg btn-primary m-1" href="docs/coshsh/">
                            Details <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex mb-4">
            <div class="card flex-fill">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Plugins</h4>
                    <a class="mb-3 mt-auto p-2" style="color: var(--bs-emphasis-color)" href="docs/plugins/">
                        <i class="fa-solid fa-puzzle-piece fa-2xl"></i>
                    </a>
                    <div class="mt-auto">
                        <a class="btn btn-lg btn-primary m-1" href="docs/plugins/">
                            Details <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex mb-4">
            <div class="card flex-fill">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Thruk</h4>
                    <a class="mb-3" href="docs/thruk/">
                        <img src="/docs/thruk/logo_thruk.png" style="background-color: white; max-width: 141px;" alt="Thruk Logo" class="p-1" width="100%" height="100%">
                    </a>
                    <div class="mt-auto">
                        <a class="btn btn-lg btn-primary m-1" href="docs/thruk/">
                            Details <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex mb-4">
            <div class="card flex-fill">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Naemon</h4>
                    <a class="pb-3" href="docs/naemon/">
                        <img src="/docs/naemon/logo_naemon.png" style="background-color: white; max-width: 141px;" alt="Naemon Logo" class="px-1 py-3" width="100%" height="100%">
                    </a>
                    <div class="mt-auto">
                        <a class="btn btn-lg btn-primary m-1" href="docs/naemon/">
                            Details <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex mb-4">
            <div class="card flex-fill">
                <div class="card-body d-flex flex-column">
                    <h4 class="card-title">Mod Gearman</h4>
                    <a class="pb-3" href="docs/mod-gearman/">
                        <img src="docs/mod-gearman/logo_mod-gearman.png" style="background-color: white; max-width: 141px; max-height: 60px; object-fit: contain;" alt="Mod Gearman Logo" class="p-1" width="100%" height="100%">
                    </a>
                    <div class="mt-auto">
                        <a class="btn btn-lg btn-primary m-1" href="docs/mod-gearman/">
                            Details <i class="fas fa-arrow-alt-circle-right ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>Although the development of our tools is usually driven by customer requirements, we do not exclude anybody from the insights we gain and happily share every new feature with the public.</p>
<p>Especially with our future customers. You're welcome :-)</p>
{{% /blocks/lead %}}

{{% blocks/section color="dark" type="row" %}}

{{% blocks/feature icon="fa-industry" title="The company behind us" url="https://www.consol.de" %}}
We are the monitoring team of Consol Software Gmbh, Munich.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-people-group" title="Where to buy" url="https://www.consol.de/product-solutions/open-source-monitoring/" %}}
For a more commercial overview of our monitoring portfolio and ways to contact us.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-section" title="Legal notice" url="/impressum/" %}}
For information about the website's owner, such as their name, address, contact details, and other relevant legal information.
{{% /blocks/feature %}}

{{% /blocks/section %}}
