---
title: "ConSol Monitoring"
linkTitle: "ConSol Monitoring"
---
{{< blocks/cover title="Welcome to ConSol Monitoring" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ConSol-Monitoring/omd/releases">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">20 years of consulting and Open Source</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Not only are we consultants, we also write Open Source Software.

Although the development of our tools is usually driven by customer requirements, we do not exclude anybody from the insights we gain and happily share every new feature with the public. Especially with our future customers. You're welcome :-)
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-industry" title="The company behind us" url="https://www.consol.de" %}}
We are the monitoring team of Consol Software Gmbh, Munich.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-people-group" title="Where to buy" url="https://www.consol.de/product-solutions/open-source-monitoring/" %}}
For a more commercial overview of our monitoring portfolio and ways to contact us.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-section" title="Legal notice" url="/impressum/" %}}
For information about the website's owner, such as their name, address, contact details, and other relevant legal information.
{{% /blocks/feature %}}


{{< /blocks/section >}}

